aside.about
  section
    img.about__portrait(src="images/portrait.png")
    h1 About
    p This is where I treat my desire to constantly talk about the things I'm making – my girlfriend will probably argue that it's not working very well.

    p
      strong Jesper Sørensen#[br]

    p.about__cv-links
      a.about__mail-link(href="mailto:jeppester1@gmail.com")
        img(src="images/email.png")
      a(href="https://github.com/jeppester" target="_blank")
        img(src="images/github.png")
      a(href="https://www.linkedin.com/in/jesper-s%C3%B8rensen-91146217/" target="_blank")
        img(src="images/linkedin.png")
