.content {
  grid-area: content;
  position: relative;
  color: $light-foreground;
}

.content::after {
  display: block;
  content: 'the end';
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: 100;
  margin: 1.5rem auto 2rem;
  font-size: .9rem;
  font-family: 'Roboto', sans;
  text-align: center;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.content h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 80%;
}

@media(max-width: $small-viewport-breakpoint) {
  .content {
    margin: 0 1rem;
    color: $light-foreground-2;
  }

  .content h1, .content .date {
    color: $light-foreground;
  }
}
