li {
  color: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
}

li + li {
  margin-top: .2rem;
}

h1, h2, h3, p {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  font-size: 2.5em;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 100;
  margin-bottom: 0px;
  border-bottom: 1px solid;
  padding-bottom: .6rem;
}

h2 {
  font-size: 1.5em;
}

h2, h3, p, ul, ol {
  font-weight: 300;
}

strong {
  font-size: .9em;
  font-weight: inherit;
  text-transform: uppercase;
}

em {
  font-family: 'Roboto', serif;
}

p, ul {
  line-height: 1.8;
}

ul {
  list-style-type: circle;
}

a {
  color: inherit;
  text-decoration: underline;
}
